.dash-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(233, 232, 232);
  
}

.dash-searchbar{
  width: 500px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 25px;
  
}

.dash-searchbar input{
  width: 200px;
  font-size: 10px;
}

.dash-searchbar button{
  font-size: 10px;
}

.searchbar-checkbox{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100px;
}

.searchbar-checkbox input{
  width: 20px
}

.post-container{
  width: 500px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.post-box{
  height: 25px;
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 1px;

}

.title{
  font-size: 15px;
}

.post-box img{
  height: 20px;
  width: 20px;
}

.post-author{
  width: 100px;
  
  display: flex;
  align-items: center;
}


