.nav {
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FF70A6;
  
}


img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.nav-upper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-upper nav{
  margin: 5px;
  color: white;
}

.nav-lower{
  margin-bottom: 25px;
  
}

.nav-lower nav{
  color: white;
}