.nav {
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,112,166);
  background: linear-gradient(0deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 88%, rgba(255,214,112,1) 100%);
  color: white;
  
}

.nav-username{
  font-weight: 900;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.nav-upper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-upper nav{
  margin: 5px;
  color: white;
}

.nav-lower{
  margin-bottom: 25px;
  
}

.nav-lower nav{
  color: white;
}